.flexslider{
	margin-bottom: 0 !important;
}

#main-slider ul li img{
	width: 100% !important;
}

#main-slider{
	width: 70% !important;
}

.seeall h5{
	margin-top:-26px;
	margin-right:25px;
	float: right;
}

.listfilm{
	width: 70% !important;
	display: inline !important;
}

.film-item{
	margin-bottom: 5px;
	margin-left: 5px;
	position: relative;
}

.content{
	height: 50px;
	width: 215px;
	background-color: rgba(0,0,0,0.8);
	position: absolute;
	bottom: 0;
}

.content p{
	color: white;
}