<load-slider class="mainSlider" animation-type="fade" list-film="$ctrl.phimhanhdong"></load-slider>

<h1>Phim đề cử</h1>
<load-slider animation-type="slide" list-film="$ctrl.phimhanhdong"></load-slider>




<h1>Phim chiếu rạp mới</h1>
<ul class ="listfilm">
	<li ng-repeat="film in $ctrl.phimhoathinh">
		<div class="film-item">		
			<img class="img-responsive film-picture" src="{{film.Picture}}">

			<div class="content">
				<a href="#/films/{{film.ID}}">Đây là {{film.ID}}</a>
			</div>
		</div>
	</li>
</ul>



<h1>Phim Hot</h1>
<ul class ="listfilm">
	<li ng-repeat="film in $ctrl.phimhanhdong">
		<div class="film-item">		
			<img class="img-responsive film-picture" src="{{film.Picture}}">

			<div class="content">
				<a href="#/films/{{film.ID}}">Đây là {{film.ID}}</a>
			</div>
		</div>
	</li>
</ul>