<h1>Phim đề cử</h1>
<div id = "secondary-slider" class="flexslider">
	<ul class="slides">
		<li ng-repeat="film in $ctrl.list.phimdecu">
			<img class="img-responsive" src="{{film.url}}">
		</li>
	</ul>
</div>




<h1>Phim chiếu rạp mới</h1>
<div class ="listfilm">
	<div ng-repeat="film in $ctrl.list.phimdecu">
		<film-detail filmitem="film"></film-detail>
	</div>
</div>



<h1>Phim Hot</h1>
<div class="listfilm">
	<div ng-repeat="film in $ctrl.list.phimhot">
		<film-detail filmitem="film"></film-detail>
	</div>
</div>