<div class="sidebar" ng-controller="SideBarController">
    <div class="book-mark" ng-show="false">
        <p class="book-mark__text book-mark__star-icon">PHIM ĐÃ ĐÁNH DẤU</p>
        <a href="#" class="book-mark__button">
            <span class="pull-left book-mark__button__text">Phim đã đánh dấu (0)</span>
            <span class="pull-right book-mark__button__icon"></span>
            <div class="clearfix"></div>
        </a>
    </div>

    <div class="list-top-movie">
        <p class="list-top-movie__header list-top-movie__star-icon">TRAILER PHIM MỚI</p>
        <div class="list-top-movie__content" ng-scrollbars>
            <list-top-movie-item-thumb ng-repeat="film in dramafilms" film-show="film"></list-top-movie-item-thumb>
        </div>
    </div>
    <div class="list-top-movie">
        <p class="list-top-movie__header list-top-movie__star-icon">PHIM LẺ HOT</p>
        <div class="list-top-movie__content" ng-scrollbars >
            <list-top-movie-item-thumb ng-repeat="film in funnyfilms" film-show="film"></list-top-movie-item-thumb>
        </div>
    </div>

    <div class="list-top-movie">
        <p class="list-top-movie__header list-top-movie__star-icon">PHIM BỘ HOT</p>
        <div class="list-top-movie__content" ng-scrollbars>
            <list-top-movie-item-thumb ng-repeat="film in seriesfilms" film-show="film"></list-top-movie-item-thumb>
        </div>
    </div>
</div>