<!DOCTYPE html>
<html lang="en" ng-app="mainApp">
<head>
	<meta charset="UTF-8">
	<title>Admin Zone</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="./bower_components/Materialize/dist/css/materialize.css"  media="screen,projection"/>
	<link rel="stylesheet" type="text/css" href="./admin.css">

	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body ng-controller="mainCtr">
	<div class="row">
		<div class="col s12">
			<ul class="tabs">
				<li class="tab col s3"><a href="#test1">Quản Trị Web</a></li>
				<li class="tab col s3"><a class="active"  href="#test2">Upload Phim</a></li>
			</ul>
		</div>
		<div class="row" id ="test1">
			<div class="col s8">
				<h5 class="col 12">All Users</h5>
				<table>
					<thead>
						<tr>
							<th data-field="id">User Status</th>
							<th data-field="email">Email</th>
							<th data-field="displayName">Display Name</th>
							<th data-field="role">Role</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>

							</td>
							<td>
								<div class="input-field col s12">
									<input id="searchEmail" type="text" class="validate" ng-model="search.email">
									<label for="searchEmail">Search by Email</label>
									
								</div>
							</td>
							<td>
								<div class="input-field col s12">
									<input id="searchName" type="text" class="validate" ng-model="search.name">
									<label for="searchName">Search by Name</label>
								</div>
							</td>
							<td>
								<div class="input-field col s12">
									<select ng-model="search.role">
										<option value="">All</option>
										<option value="admin">Admin</option>
										<option value="user">User</option>
										<option value="blocked">Blocked</option>
									</select>
									<label>Search by Role</label>
								</div>
							</td>
						</tr>
						<tr ng-repeat="user in userList | filter: {name: search.name, role: search.role, email: search.email, status : '!!'}" class="fx-fade-up fx-ease-sine">
							<td >
								<p>
									<input type="checkbox" id="{{user.uid}}" ng-change="$parent.Check(user, value)" ng-model="value"/>
									<label for="{{user.uid}}">{{user.status}}</label>
								</p>
							</td>
							<td>{{user.email}}</td>
							<td>{{user.name}}</td>
							<td>{{user.role}}</td>
						</tr>
					</tbody>
				</table>
				<div class="progress" ng-show="!isUsersLoaded">
					<div class="indeterminate"></div>
				</div>
			</div>
			<div class="col s4 row">
				<h5 class="col 12">Selected Users</h5>
				<table>
					<thead>
						<tr>
							<th data-field="displayName">Display Name</th>
							<th data-field="role">Role</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="user in SelectedUser" class="fx-fade-up fx-ease-sine user-item">
							<td>{{user.name}}</td>
							<td>{{user.role}}</td>
						</tr>
					</tbody>
				</table>
				<form action="#">
					<p>
						<input class="with-gap" name="group1" type="radio" id="toAdmin" ng-model="Action" ng-value="changeToAdmin"/>
						<label for="toAdmin">Change Role To Admin</label>
					</p>
					<p>
						<input class="with-gap" name="group1" type="radio" id="toUser" ng-model="Action" ng-value="changeToUser"/>
						<label for="toUser">Change Role To User</label>
					</p>
					<p>
						<input class="with-gap" name="group1" type="radio" id="blockUser" ng-model="Action" ng-value="blockUser"/>
						<label for="blockUser">Block User(s)</label>
					</p>
					<p>
						<input class="with-gap" name="group1" type="radio" id="unblockUser" ng-model="Action" ng-value="unblockUser"/>
						<label for="unblockUser">unBlock User(s)</label>
					</p>
					<p>
						<a class="waves-effect waves-light btn" ng-click="doAction()">Do Action</a>
					</p>
				</form>
			</div>
		</div>
		
		<div id="test2" class="col s12">
			<h5>Trang Upload Phim:</h5>
			<form action="#">
				<div class="row">
					<div class="file-field input-field col s6">
						<div class="btn">
							<span>Choose Film</span>
							<input type="file" custom-on-change="chooseFilm">
						</div>
						<div class="file-path-wrapper">
							<input class="file-path validate" type="text">
						</div>
					</div>
					<div class="col s6" style="margin-top: 15px;">
						<a class="btn" ng-class="{'disabled': !isReadyUpload}" ng-click="uploadFilm()">Upload</a>
						<span>{{Status}}</span>
						<div class="progress">
							<div class="determinate" ng-style="MyStyle"></div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col s9">
						<div class="input-field col s12">
							<input id="name_vn" type="text" class="validate" ng-model="upload.Name_Vi">
							<label for="name_vn">Vietnamese Name</label>
						</div>
						<div class="input-field col s12">
							<input id="name_en" type="text" class="validate" ng-model="upload.Name_En">
							<label for="name_en">English Name</label>
						</div>
						<div class="row">
							<div class="input-field col s3">
								<input id="Director" type="text" class="validate" ng-model="upload.Director">
								<label for="Director">Director</label>
							</div>
							<div class="input-field col s3">
								<input id="Nation" type="text" class="validate" ng-model="upload.Nation">
								<label for="Nation">Nation</label>
							</div>
							<div class="input-field col s3">
								<label for="publishdate">Publish Date</label>
								<input type="text" ng-model="upload.Publish_Date" id="publishdate" class="datepicker">
							</div>
							<div class="input-field col s3" ng-click="openModal('addActorModal')">
								<input disabled ng-model="upload.Actor" id="disabled" type="text" class="validate">
								<label for="disabled">Add Actors/Actresses</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s3">
								<input id="Duration" type="text" class="validate" ng-model="upload.Duration">
								<label for="Duration">Duration</label>
							</div>
							<div class="input-field col s3">
								<select multiple ng-model="upload.Types">
									<option value="" disabled selected>Choose types</option>
									<option value="Action">Action</option>
									<option value="Cartoon">Cartoon</option>
									<option value="Fiction">Fiction</option>
								</select>
								<label>Film Types</label>
							</div>
							<div class="input-field col s3">
								<select ng-model="upload.Quality">
									<option value="" disabled selected>Choose quality</option>
									<option value="CAM">CAM</option>
									<option value="HD 720p">HD 720p</option>
									<option value="HD 1080p">HD 1080p</option>
								</select>
								<label>Film Quality</label>
							</div>
							<div class="input-field col s3">
								<select ng-model="upload.Language">
									<option value="" disabled selected>Choose Language</option>
									<option value="Vietsub">Vietsub</option>
									<option value="Thuyết minh">Embeded</option>
								</select>
								<label>Language</label>
							</div>
						</div>
						
						
					</div>

					<div class="col s3">
						<div class="card">
							<div class="card-image">
								<img ng-src="{{upload.Picture}}">
							</div>
							<div class="card-action">
								<div id="upload-file-container" class="btn">
									<input type="file" name="photo" custom-on-change="uploadPicture"/>
								</div>
							</div>
						</div>
						<div class="progress" ng-show="!isPictureLoaded">
							<div class="indeterminate"></div>
						</div>
					</div>
				</div>	
				<div class="row">
					<div class="input-field col s12">
						<textarea id="desciption" class="materialize-textarea" ng-model="upload.Description"></textarea>
						<label for="desciption">Description</label>
					</div>

				</div>
				
			</form>
		</div>
	</div>

	<!--Modals-->
	<div id="addActorModal" class="modal modal-fixed-footer">
		<div class="modal-content ">
			<h4>Add Actor/Actress</h4>
			<div class="row">
				<div class="col s8">
					<div class="input-field col s12">
						<input id="actor.Name" type="text" class="validate" ng-model="actor.Name">
						<label for="actor.Name">Name</label>
					</div>
					<div class="input-field col s12">
						<input id="actor.Name_In_Film" type="text" class="validate" ng-model="actor.Name_In_Film">
						<label for="actor.Name_In_Film">Name in Film</label>
					</div>
				</div>
				<div class="col s4">
					<div class="card">
						<div class="card-image">
							<img ng-src="{{actor.Picture}}">
						</div>
						<div class="card-action">
							<div id="upload-file-container" class="btn">
								<input type="file" name="photo" custom-on-change="uploadActorPicture"/>
							</div>
						</div>
					</div>
					<div class="progress" ng-show="!isActorPictureLoaded">
						<div class="indeterminate"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<a class="btn modal-action waves-effect waves-green btn-flat" ng-class="{'disabled': !actorCheckDone()}" ng-click="submitActor()">Add</a>
			<a class="btn modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
		</div>
	</div>

	<script type="text/javascript" src="./bower_components/gsap/src/uncompressed/TweenMax.js"></script>
	<script type="text/javascript" src="./bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="./bower_components/angular/angular.js"></script>
	<script type="text/javascript" src="./bower_components/angular-animate/angular-animate.js"></script>
	<script type="text/javascript" src="./bower_components/ngFx/dist/ngFx.js"></script>
	<script type="text/javascript" src="./bower_components/firebase/firebase.js"></script>
	<script type="text/javascript" src="./bower_components/angularfire/dist/angularfire.js"></script>
	<script type="text/javascript" src="./admin.module.js"></script>
	<script type="text/javascript" src="./app.firebase.js"></script>
	<script type="text/javascript" src="./storageService.js"></script>
	<script type="text/javascript" src="./admin.js"></script>
	<script type="text/javascript" src="./bower_components/Materialize/dist/js/materialize.js"></script>
</body>
</html>