<div class="login">
    <form class="template-form form-horizontal"
          name="loginForm"
          ng-submit="loginForm.$valid && login()"
          novalidate>
        <div class="form-group">
            <label class="template-form__label col-sm-2 control-label" for="">Email</label>
            <div class="col-sm-6">
                <input type="email"
                       class="template-form__input-text form-control"
                       placeholder="Nhập tài khoản"
                       name="email"
                       ng-model="user.email"
                       required
                >
            </div>
            <div class="col-sm-4">
                <a class="button-login-with-facebook" href="#"></a>
            </div>
            <div class="col-sm-offset-2 col-sm-10">
                <div class="help-block" ng-messages="loginForm.email.$error">
                    <ng-messages-include src="app/app.message.html"></ng-messages-include>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="template-form__label col-sm-2 control-label" for="">Mật Khẩu</label>
            <div class="col-sm-6">
                <input type="password"
                       class="template-form__input-text form-control"
                       placeholder="Nhập mật khẩu truy cập"
                       name="password"
                       ng-model="user.password"
                       required
                >
            </div>
            <div class="col-sm-offset-2 col-sm-10">
                <div class="help-block" ng-messages="loginForm.password.$error">
                    <ng-messages-include src="app/app.message.html"></ng-messages-include>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="template-form__input-submit btn" ladda="isWaiting">Đăng Nhập</button>
                <button type="submit" class="template-form__input-submit btn" ui-sref="app.forgotpassword">Quên Mật Khẩu</button>
            </div>
        </div>
    </form>
</div>