<div class="filmview">
	<div class="row">
		<div class="col-md-3 col-sm-4 col-xs-9">
			<div class="filmview-filmdetail">
				<img class="img-responsive" src="{{film.Picture}}"/>
			</div>
		</div>
		<div class="col-md-9 col-sm-6 col-xs-10">
			<span class="filmview-filmname watchfilm-movietitle-1">Xem phim {{film.Name_Vi}}</span>
			<div class="filmview-description">
				<div class="filmview-description-short"
				hm-read-more
				hm-text="{{film.Description}}"
				hm-limit="150"
				hm-more-text="Read More"
				hm-less-text="Read Less"
				hm-dots-class="toggle-dots-white"
				hm-link-class="toggle-link-blue"
				ng-click="ReadMore()">
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-sx-12 filmview-devide"></div>
	</div>

	<div class="row">
		<div class="filmview-playfilm col-md-12 col-sm-12 col-xs-12">
			<jwplayer ng-src="{{ videoSrc }}" player-options="options">
            </jwplayer>
		</div>
	</div>

	<div class="row">
		<div class="watchfilm-filmrate col-md-12 col-sm-12 col-xs-12">
			<p>Đánh giá phim</p>
			<p star-rating rating-value="7" data-max="10"></p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="watchfilm-keyword">
				<h3 class="watchfilm-keyword-title">Từ khoá</h3>
				<h4 style="color: white;">Some key word......</h4>
			</div>
		</div>
	</div>

	<!--<ng-include src="'app/components/template/comment.html'"></ng-include>-->
	<div id="fb-comment-box" dyn-fb-comment-box
		 page-href="{{filmLink}}"
		 numposts="5"
		 colorscheme="dark">
	</div>
</div>