<div class="register">
    <form class="template-form form-horizontal"
          role="form"
          name="registerForm"
          ng-submit="registerForm.$valid && register()"
          novalidate
    >
        <div class="form-group">
            <label class="template-form__label col-sm-3 control-label" for="">Email</label>
            <div class="col-sm-6">
                <input type="email"
                       class="template-form__input-text form-control"
                       placeholder="Nhập email"
                       name="email"
                       ng-model="user.email"
                       required
                >
            </div>
            <div class="col-sm-offset-3 col-sm-9">
                <div class="help-block" ng-messages="registerForm.email.$error">
                    <ng-messages-include src="app/app.message.html"></ng-messages-include>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="template-form__label col-sm-3 control-label" for="">Mật Khẩu</label>
            <div class="col-sm-6">
                <input type="password"
                       class="template-form__input-text form-control"
                       placeholder="Nhập mật khẩu truy cập"
                       name="password"
                       ng-model="user.password"
                       ng-minlength="6"
                       ng-maxlength="20"
                       ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$/"
                       required
                >
            </div>
            <div class="col-sm-offset-3 col-sm-9">
                <div class="help-block" ng-messages="registerForm.password.$error">
                    <ng-messages-include src="app/app.message.html"></ng-messages-include>
                    <p ng-message="pattern">Mật khẩu phải bao gồm kí tự thường, kí tự hoa và số.</p>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="template-form__label col-sm-3 control-label" for="">Nhập Lại Mật Khẩu</label>
            <div class="col-sm-6">
                <input type="password"
                       class="template-form__input-text form-control"
                       placeholder="Nhập lại mật khẩu"
                       name="repeatPassword"
                       ng-model="user.repeatPassword"
                       ng-minlength="6"
                       ng-maxlength="20"
                       ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$/"
                       required
                >
            </div>
            <div class="col-sm-offset-3 col-sm-9">
                <div class="help-block" ng-messages="registerForm.repeatPassword.$error">
                    <ng-messages-include src="app/app.message.html"></ng-messages-include>
                    <p ng-message="pattern">Mật khẩu phải bao gồm kí tự thường, kí tự hoa và số.</p>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="template-form__label col-sm-3 control-label" for="">Họ tên</label>
            <div class="col-sm-6">
                <input type="text"
                       class="template-form__input-text form-control"
                       placeholder="Nhập họ tên"
                       name="name"
                       ng-model="user.name"
                       required
                >
            </div>
            <div class="col-sm-offset-3 col-sm-9">
                <div class="help-block" ng-messages="registerForm.name.$error">
                    <ng-messages-include src="app/app.message.html"></ng-messages-include>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
                <button type="submit" class="template-form__input-submit btn" ladda="isWaiting">Đăng Ký</button>
                <button type="reset" class="template-form__input-submit btn">Hủy</button>
            </div>
        </div>
    </form>
</div>