<div class="register">
    <form class="register__form-register form-horizontal" role="form">
        <div class="form-group">
            <label class="register__form-register__label col-sm-3 control-label" for="">Tài Khoản</label>
            <div class="col-sm-6">
                <input type="email" class="register__form-register__input-text form-control" placeholder="Nhập tên tài khoản">
            </div>
        </div>
        <div class="form-group">
            <label class="register__form-register__label col-sm-3 control-label" for="">Mật Khẩu</label>
            <div class="col-sm-6">
                <input type="password" class="register__form-register__input-text form-control" placeholder="Nhập mật khẩu truy cập">
            </div>
        </div>
        <div class="form-group">
            <label class="register__form-register__label col-sm-3 control-label" for="">Nhập Lại Mật Khẩu</label>
            <div class="col-sm-6">
                <input type="password" class="register__form-register__input-text form-control" placeholder="Nhập lại mật khẩu">
            </div>
        </div>
        <div class="form-group">
            <label class="register__form-register__label col-sm-3 control-label" for="">Họ tên</label>
            <div class="col-sm-6">
                <input type="text" class="register__form-register__input-text form-control" placeholder="Nhập họ tên">
            </div>
        </div>
        <div class="form-group">
            <label class="register__form-register__label col-sm-3 control-label" for="">Email</label>
            <div class="col-sm-6">
                <input type="email" class="register__form-register__input-text form-control" placeholder="Nhập email">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-10">
                <button type="submit" class="register__form-register__button-login btn btn-primary">Đăng Nhập</button>
            </div>
        </div>
    </form>
</div>