.filmview{
	background: url(../img/item_bg.gif);
	width: 100%;
	padding: 25px;
}

.filmview img{
	width: 90%;
	margin-left: 20px;
}

.filmview-description{
	margin-top: 20px;
	height: 180px;
	background-color: #222222;
	border: 1px solid black;
	border-radius: 4px;
	padding: 15px;
}

.filmview-devide{
	background-color: rgba(0,0,0,0.6);
	height: 140px;
	margin-top: 30px;
}

.filmview-playfilm{
	background-color: rgba(0,0,0,0.6);
	height: 300px;
	margin-top: 30px;
}


