* {
    box-sizing: border-box;
}

body{
    background-color: #59575b;
    font-size: 16px;
    font-family: Arial, sans-serif;
    
}

.clear{
    clear: both;
}

a {color:#fff;}      /* unvisited link */
a:visited {color:#fff; text-decoration: none}  /* visited link */
a:hover {color:#fff; text-decoration: none}  /* mouse over link */
a:active {color:#fff; text-decoration: none}  /* selected link */



.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

/*S - Css Cho Header*/
.header{
    background-color: #59575b;
    background: url("../img/header-bg.jpg") repeat-x;
    min-height: 80px;
    padding-top: 14px;
    border-bottom: solid 5px #d8cc46;
}

.logo img{
    display: inline-block;
    color: #00b3ee;
    width: 210px;
    height: 70px;
    margin-top: -25px;
}

.header__search{

}

.form-search{
    position: relative;
    background-color: red;
}

.form-search .seach-input{
    background-color: #303137;
    color: #9f9f9f;
    padding-right: 30px;
    border-radius: 100px;
    border-width: 1px;
    border-color: #000;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.4), 1px 1px 0 rgba(255, 255, 255, 0.15);
}

.form-search .search-submit{
    background: none;
    background: url("../img/spotlight.png") no-repeat;
    width: 32px;
    height: 32px;
    border: none;
    outline: none;
    position: absolute;
    right: -15px;
    top: 2px;
}

.header__user{
    z-index: 100;
}

.header__user .button-register{
    display: inline-block;
    background: url("../img/image.png") 0px 0px no-repeat;
    width: 79px;
    height: 40px;
}

.header__user .button-register:hover{
    display: inline-block;
    background: url("../img/image.png") 0px -41px no-repeat;
    width: 79px;
    height: 40px;
}

.header__user .button-login{
    display: inline-block;
    background: url("../img/image.png") -79px 0px no-repeat;
    width: 95px;
    height: 40px;
}

.header__user .button-login:hover{
    display: inline-block;
    background: url("../img/image.png") -79px -41px no-repeat;
    width: 95px;
    height: 40px;
}

.button-login-with-facebook{
    display: inline-block;
    background: url("../img/image.png") -175px 0px no-repeat;
    width: 158px;
    height: 40px;
}

.button-login-with-facebook:hover{
    display: inline-block;
    background: url("../img/image.png") -175px -41px no-repeat;
    width: 158px;
    height: 40px;
}

@media (max-width: 991px) {
    .header__user{
        margin-top: -10px;
    }
}
/*E - Css Cho Header*/

/*S - Css Cho Nav*/
.main-content{
    margin-top: 20px;
    margin-bottom: 40px;
    height: auto;
}

.footer{
    background-color: #000;
    border-top: solid 5px #d8cc46;
    height: auto;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer__logo__image img{
    display: block;
    margin-top: -20px;
    color: #00b3ee;
    width: 260px;
    height : 100px;
}

.footer__link__group__title{
    color: #2cd4f0;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 10px;
}

.footer__link__group__navbar__item{
    display: block;
    margin-bottom: 5px;
}

.footer__link__group__navbar__link{
    display: inline-block;
    font-size: 15px;
}

.footer__link__group__navbar__link:hover{
    color: #d8cc46;
}

.footer__contact__row{
    margin-bottom: 5px;
}

.footer__contact__title{
    font-weight: bold;
}

@media (max-width: 767px) {
    .footer__contact{
        text-align: center;
        margin-top: 20px;
    }
}

/*E - Css Cho Nav*/