* {
    box-sizing: border-box;
}

body{
    background-color: #59575b;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

a {color:#fff;}      /* unvisited link */
a:visited {color:#fff;}  /* visited link */
a:hover {color:#fff; text-decoration: none}  /* mouse over link */
a:active {color:#fff;}  /* selected link */

/*S - Css Cho Header*/
.header{
    background-color: #59575b;
    background-image: url("../img/header-bg.jpg");
    background-repeat: repeat-x;
    min-height: 80px;
    padding-top: 13px;
    border-bottom: solid 5px #d8cc46;
}

.logo{
    background-image: url("../img/image.png");
    color: #00b3ee;
    background-position-x: 0;
    background-position-y: -320px;
    width: 260px;
    height : 55px;
    display: block;
}

.header__search{
    /*background-color: red;*/
    /*background: blue;*/
}

.form-search{
    position: relative;
    background-color: red;
}

.form-search .seach-input{
    background-color: #303137;
    color: #9f9f9f;
    padding-right: 30px;
    border-radius: 100px;
    border-width: 1px;
    border-color: #000;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.4), 1px 1px 0 rgba(255, 255, 255, 0.15);
}

.form-search .search-submit{
    background: none;
    background-image: url("../img/spotlight.png");
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    border: none;
    outline: none;
    position: absolute;
    right: -15px;
    top: 2px;
}

.header__user{

}

.header__user .button-register{
    display: inline-block;
    background-image: url("../img/image.png");
    background-repeat: no-repeat;
    background-position-x: 0px;
    background-position-y: 0;
    width: 79px;
    height: 40px;
}

.header__user .button-register:hover{
    display: inline-block;
    background-image: url("../img/image.png");
    background-repeat: no-repeat;
    background-position-x: 0px;
    background-position-y: -41px;
    width: 79px;
    height: 40px;
}

.header__user .button-login{
    display: inline-block;
    background-image: url("../img/image.png");
    background-repeat: no-repeat;
    background-position-x: -79px;
    background-position-y: 0;
    width: 95px;
    height: 40px;
}

.header__user .button-login:hover{
    display: inline-block;
    background-image: url("../img/image.png");
    background-repeat: no-repeat;
    background-position-x: -79px;
    background-position-y: -41px;
    width: 95px;
    height: 40px;
}

.header__user .button-login-with-facebook{
    display: inline-block;
    background-image: url("../img/image.png");
    background-repeat: no-repeat;
    background-position-x: -175px;
    background-position-y: 0px;
    width: 158px;
    height: 40px;
}

.header__user .button-login-with-facebook:hover{
    display: inline-block;
    background-image: url("../img/image.png");
    background-repeat: no-repeat;
    background-position-x: -175px;
    background-position-y: -41px;
    width: 158px;
    height: 40px;
}
/*E - Css Cho Header*/

/*S - Css Cho Nav*/

.navbar{
    background-color: #323031;
    height: auto;
}

.navbar__listcategory{
    font-weight: bold;
    text-align: center;
}

.navbar__listcategory__item{
    display: inline-block;
    margin-left: -5px;
    border: none;
    border-radius: 0 !important;
    background-color: #323031;
    color: #fff;
    position: relative;
}

.navbar__listcategory__item:first-child{
    margin-left: 5px;
}

.navbar__listcategory__item:hover{
    background-color: #292929;
}

.navbar__listcategory__item:hover .navbar__listcategory__item__title{
    color: #dacb46;
}

.navbar__listcategory__item__title{
    display: inline-block;
}

.navbar__listcategory__item:hover .navbar__listcategory__item__subcontainer{
    display: block;
}

.navbar__listcategory__item__subcontainer{
    display: none;
    position: absolute;
    top: 101%;
    left: 0;
    font-size: 15px;
    text-align: left;
    padding: 10px;
    font-weight: normal;
    background-color: #292929;
    z-index: 1000;
    width: 800px;
}

.navbar__listcategory__item__subcontainer__dropdown{
    display: inline-block;
}

.navbar__listcategory__item__subcontainer__dropdown__item{
    display: block;
}

.navbar__listcategory__item__subcontainer__dropdown__item__link{
    display: inline-block;
    padding: 10px;
}

.navbar__listcategory__item__subcontainer__dropdown__item:hover{
    background-color: #000;
}

.footer{
    background-color: #000;
    border-top: solid 5px #d8cc46;
    height: auto;
    color: #fff;
    padding-top: 20px;

}

.footer__logo__background{
    background-image: url("../img/image.png");
    color: #00b3ee;
    background-position-x: 0;
    background-position-y: -320px;
    width: 260px;
    height : 55px;
    display: block;
}

.footer__link__group__title{
    color: #44e2ff;
    font-size: 20px;
    line-height: 1.2;
}

.footer__link__group__navbar__item{
    background-color: transparent;
    border: none;
    color: #fff !important;
    padding-left: 0;
    font-size: 13px;
}

.footer__link__group__navbar__item:hover{
    color: #d8cc46 !important;
    background-color: transparent !important;
}

.footer__contact__row{
    margin-top: 10px;
}

.footer__contact__row:first-child{
    margin-top: -5px;
}
.footer__contact__title{
    font-weight: bold;
}
/*E - Css Cho Nav*/