.login__form-login__button-login-with-facebook{
    display: inline-block;
    background-image: url("../img/image.png");
    background-repeat: no-repeat;
    background-position-x: -175px;
    background-position-y: 0px;
    width: 158px;
    height: 40px;
}

.login__form-login__button-login-with-facebook:hover{
    display: inline-block;
    background-image: url("../img/image.png");
    background-repeat: no-repeat;
    background-position-x: -175px;
    background-position-y: -41px;
    width: 158px;
    height: 40px;
}

.login__form-login{
    padding: 40px;
    background-color: #181818;
    color: #fff;
    font-size: 15px;
}

.login__form-login__label{
    font-weight: bold;
    color: #ddd;
}

.login__form-login__input-text{
    background-color: #333333;
    border-color: #000;
}