.list-top-movie{
    margin-bottom: 20px;
}

.list-top-movie__star-icon{
    display: block;
    background:  url("../img/image.png") no-repeat 0px -83px;
    height: 32px;
}

.list-top-movie__header{
    display: block;
    padding-left: 35px;
    padding-top: 1px;
    font-weight: bold;
    font-size: 22px;
    color: #dacb46;
    text-shadow: 1px 1px 1px #1a1a1a;
    text-transform : uppercase;
}

.list-top-movie__content{
    display: block;
    border-radius: 5px;
    width: 100%;
    height: 490px;
    background-color: #1a1a1a;
    font-size: 12px;
}

.book-mark{
    margin-bottom: 20px;
}
.book-mark__star-icon{
    display: block;
    background:  url("../img/image.png") no-repeat 0px -83px;
    height: 32px;
}

.book-mark__text{
    display: block;
    padding-left: 35px;
    padding-top: 1px;
    font-weight: bold;
    font-size: 23px;
    color: #dacb46;
    text-shadow: 1px 1px 1px #1a1a1a;
    text-transform : uppercase;
}

.book-mark__button{
    display: block;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    background: #4F4E52 url("../img/item_bg.gif") repeat;
}

.book-mark__button__icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../img/image.png") -120px -791px no-repeat;
}

.book-mark__button__text{
    color: #DDDDDD;
}

.book-mark__button:hover
.book-mark__button__text{
    color: #fff;
}

@media (max-width: 992px) {
    .book-mark{
        margin-top: 20px;
    }
}