<div class="home">
	<load-slider class="mainSlider" animation-type="fade" list-film="films.Type.Action"></load-slider>

	<p class="home-title">Phim đề cử</p>
	<load-slider class="secondSlider" animation-type="slide" list-film="films.Type.Cartoon"></load-slider>




	<p class= "home-title">Phim Hoạt Hình</p>
	<ul class ="listfilm">
		<li ng-repeat="film in films.Type.Cartoon">
			<div class="film-item">
				<a ui-sref="app.watchfilm({filmdetail : film})">	
					<img class="img-responsive film-picture" src="{{film.Picture}}"/>
				</a>
				<div class="content">
					<a class="content-film-namevi" ui-sref="app.watchfilm({filmdetail : film})">{{film.Name_Vi}}</a>
					<a class="content-film-nameen" ui-sref="app.watchfilm({filmdetail : film})">{{film.Name_En}}</a>
					<span ui-sref="app.watchfilm({filmdetail : film})" class="content-film-duration">{{film.Duration}}</span>
				</div>
			</div>
		</li>
	</ul>



	<p class="home-title">Phim Hành Động</p>
	<ul class ="listfilm">
		<li ng-repeat="film in films.Type.Action">
			<div class="film-item">
				<a ui-sref="app.watchfilm({filmdetail : film})">	
					<img class="img-responsive film-picture" src="{{film.Picture}}"/>
				</a>
				<div class="content">
					<a class="content-film-namevi" ui-sref="app.watchfilm({filmdetail : film})">{{film.Name_Vi}}</a>
					<a class="content-film-nameen" ui-sref="app.watchfilm({filmdetail : film})">{{film.Name_En}}</a>
					<span ui-sref="app.watchfilm({filmdetail : film})" class="content-film-duration">{{film.Duration}}</span>
				</div>
			</div>
		</li>
	</ul>

</div>