<div class="home">
	<load-slider class="mainSlider" animation-type="fade" list-film="phimhanhdong"></load-slider>

	<p class="home-title">Phim đề cử</p>
	<load-slider animation-type="slide" list-film="phimhanhdong"></load-slider>




	<p class= "home-title">Phim chiếu rạp mới</p>
	<ul class ="listfilm">
		<li ng-repeat="film in phimhoathinh">
			<div class="film-item">		
				<img class="img-responsive film-picture" src="{{film.Picture}}">

				<div class="content">
					<a href="#/films/{{film.ID}}">Đây là {{film.ID}}</a>
				</div>
			</div>
		</li>
	</ul>



	<p class="home-title">Phim Hot</p>
	<ul class ="listfilm">
		<li ng-repeat="film in phimhanhdong">
			<div class="film-item">		
				<img class="img-responsive film-picture" src="{{film.Picture}}">

				<div class="content">
					<a href="#/films/{{film.ID}}">Đây là {{film.ID}}</a>
				</div>
			</div>
		</li>
	</ul>

	<span us-spinner="{radius:30,width:8,length:16}" spinner-on="isLoading"></span>
</div>