<h5>Trang Upload Phim:</h5>
<form action="#">
	<div class="row">
		<div class="file-field input-field col s10">
			<div class="btn">
				<span>Choose Film</span>
				<input type="file" accept="video/*" custom-on-change="chooseFilm">
			</div>
			<div class="file-path-wrapper">
				<input class="file-path validate" type="text">
			</div>
			<div class="row">
				<div class="progress col s10">
					<div class="determinate" ng-style="MyStyle"></div>
				</div>
				<div class="col s2">{{Status}}</div>
			</div>
		</div>
		<div class="col s2 input-field">
			<a class="btn" onclick="document.getElementById('chooseJSON').click();">OR JSON</a>
			<input type="file" accept=".json" custom-on-change="chooseJSON" id='chooseJSON' ng-show="false">
		</div>
	</div>
	<div class="row">
		<div class="col s9">
			<div class="input-field col s12">
				<input id="name_vn" type="text" class="validate" ng-model="upload.Name_Vi">
				<label for="name_vn">Vietnamese Name</label>
			</div>
			<div class="input-field col s12">
				<input id="name_en" type="text" class="validate" ng-model="upload.Name_En">
				<label for="name_en">English Name</label>
			</div>
			<div class="row">
				<div class="input-field col s3">
					<input id="Director" type="text" class="validate" ng-model="upload.Director">
					<label for="Director">Director</label>
				</div>
				<div class="input-field col s3">
					<input id="Nation" type="text" class="validate" ng-model="upload.Nation">
					<label for="Nation">Nation</label>
				</div>
				<div class="input-field col s3">
					<label for="publishdate">Publish Date</label>
					<input type="text" ng-model="upload.Publish_Date" id="publishdate" class="datepicker">
				</div>
				<div class="input-field col s3" ng-click="openModal('addActorModal')">
					<input disabled value="{{upload.Actors.length}} Actor(s)" id="actorCount" type="text" class="validate">
					<label for="actorCount">Add Actors/Actresses</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s3">
					<input id="Duration" type="text" class="validate" ng-model="upload.Duration">
					<label for="Duration">Duration</label>
				</div>
				<div class="input-field col s3">
					<select multiple ng-model="upload.Types" id="typesSelect">
						<option value="" disabled selected>Choose types</option>
						<option value="Action">Action</option>
						<option value="Cartoon">Cartoon</option>
						<option value="Fiction">Fiction</option>
					</select>
					<label>Film Types</label>
				</div>
				<div class="input-field col s3">
					<select ng-model="upload.Quality" id="qualitySelect">
						<option value="" disabled selected>Choose quality</option>
						<option value="CAM">CAM</option>
						<option value="HD 720p">HD 720p</option>
						<option value="HD 1080p">HD 1080p</option>
					</select>
					<label>Film Quality</label>
				</div>
				<div class="input-field col s3">
					<select ng-model="upload.Language" id="languageSelect">
						<option value="" disabled selected>Choose Language</option>
						<option value="Vietsub">Vietsub</option>
						<option value="Thuyết minh">Embeded</option>
					</select>
					<label>Language</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s9">
					<input id="CompanyList" type="text" class="validate" ng-model="upload.CompanyList">
					<label for="CompanyList">CompanyList</label>
				</div>
				<div class="input-field col s3">
					<input id="Rating" type="text" class="validate" ng-model="upload.Rating">
					<label for="Rating">Rating</label>
				</div>
			</div>
		</div>
		<div class="col s3">
			<div class="card">
				<div class="card-image">
					<img ng-src="{{upload.Picture}}">
				</div>
				<div class="card-action">
					<a class="btn" onclick="document.getElementById('choosePicture').click();">UPLOAD PICTURE</a>
					<input type="file" ng-show="false" id="choosePicture" name="photo" custom-on-change="uploadPicture" accept="image/*" />
				</div>
			</div>
			<div class="progress" ng-show="!isPictureLoaded">
				<div class="indeterminate"></div>
			</div>
		</div>
	</div>	
	<div class="row">
		<div class="input-field col s9">
			<textarea id="desciption" class="materialize-textarea" ng-model="upload.Description"></textarea>
			<label for="desciption">Description</label>
		</div>
		<div class="input-field col s3">
			<a class="btn" style="width: 100%; overflow: hidden" ng-click="uploadFilmToDatabase()">Upload Film to Database</a>
			<div class="progress" ng-show="!isDatabaseUploaded">
				<div class="indeterminate"></div>
			</div>
		</div>

	</div>
	
</form>