<div class="forgot-password">
    <form class="template-form form-horizontal" role="form">
        <div class="form-group">
            <label class="template-form__label col-sm-3 control-label" for="">Email</label>
            <div class="col-sm-6">
                <input type="password" class="template-form__input-text form-control" placeholder="Nhập email của bạn">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-10">
                <button type="submit" class="template-form__input-submit btn">Lấy mật khẩu mới</button>
            </div>
        </div>
    </form>
</div>