<div class="register">
    <form class="register__form-register form-horizontal" role="form">
        <div class="form-group">
            <label class="register__form-register__label col-sm-3 control-label" for="">Email</label>
            <div class="col-sm-6">
                <input type="password" class="register__form-register__input-text form-control" placeholder="Nhập email của bạn">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-10">
                <button type="submit" class="register__form-register__button-login btn btn-primary">Lấy mật khẩu mới</button>
            </div>
        </div>
    </form>
</div>