<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 hidden-md hidden-sm hidden-xs">
                <div class="footer__logo">
                    <span class="footer__logo__image"></span>
                </div>
            </div>
            <div class="col-lg-6 col-md-9 col-sm-9">
                <div class="footer__link">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="footer__link__group">
                                <p class="footer__link__group__title">Phim Mới</p>
                                <ul class="footer__link__group__navbar">
                                    <li class="footer__link__group__navbar__item"><a href="#" class="footer__link__group__navbar__link">Phim Lẻ Mới</a></li>
                                    <li class="footer__link__group__navbar__item"><a href="#" class="footer__link__group__navbar__link">Phim Bộ Mới</a></li>
                                    <li class="footer__link__group__navbar__item"><a href="#" class="footer__link__group__navbar__link">Phim Chiếu Rạp</a></li>
                                    <li class="footer__link__group__navbar__item"><a href="#" class="footer__link__group__navbar__link">Phim Kinh Điển</a></li>
                                    <li class="footer__link__group__navbar__item"><a href="#" class="footer__link__group__navbar__link">Phim Sắp Chiếu</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="footer__link__group">
                                <p class="footer__link__group__title">Phim Mới</p>
                                <ul class="footer__link__group__navbar">
                                    <li class="footer__link__group__navbar__item"><a href="#" class="footer__link__group__navbar__link">Phim Hành Động</a></li>
                                    <li class="footer__link__group__navbar__item"><a href="#" class="footer__link__group__navbar__link">Phim Kiếm Hiệp</a></li>
                                    <li class="footer__link__group__navbar__item"><a href="#" class="footer__link__group__navbar__link">Phim Kinh Dị</a></li>
                                    <li class="footer__link__group__navbar__item"><a href="#" class="footer__link__group__navbar__link">Phim Viễn Tưởng</a></li>
                                    <li class="footer__link__group__navbar__item"><a href="#" class="footer__link__group__navbar__link">Phim Hoạt Hình</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="footer__link__group">
                                <p class="footer__link__group__title">Phim Mới</p>
                                <ul class="footer__link__group__navbar">
                                    <li class="footer__link__group__navbar__item"><a href="#" class="footer__link__group__navbar__link">Phim Bộ Hàn Quốc</a></li>
                                    <li class="footer__link__group__navbar__item"><a href="#" class="footer__link__group__navbar__link">Phim Bộ Trung Quốc</a></li>
                                    <li class="footer__link__group__navbar__item"><a href="#" class="footer__link__group__navbar__link">Phim Bộ Mỹ</a></li>
                                    <li class="footer__link__group__navbar__item"><a href="#" class="footer__link__group__navbar__link">Phim Bộ Việt Nam</a></li>
                                    <li class="footer__link__group__navbar__item"><a href="#" class="footer__link__group__navbar__link">Phim Bộ Hồng Kông</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="footer__contact">
                    <p class="footer__contact__row footer__contact__title">Liên hệ quảng cáo:</p>
                    <p class="footer__contact__row">Email: contact@phimmoi.net</p>
                    <p class="footer__contact__row footer__contact__title">IP của bạn:</p>
                    <p class="footer__contact__row">1.52.37.205</p>
                </div>
            </div>
        </div>
    </div>
</div>