<div class="header" ng-controller="SearchController">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="header__logo">
                    <a ui-sref="app" class="logo"><img src="Logo/light.png"/></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-8">
                <div class="header__search">
                    <form class="form-horizontal form-search" role="form">
                        <div class="form-group">
                            <input type="text" class="seach-input form-control" placeholder="Tìm: tên phim, đạo diễn, diễn viên" ng-model="query"/>
                            <input type="submit" class="search-submit" value="" ng-click="Find()"/>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="pull-right" ui-view="subview4" autoscroll="true"></div>
            </div>
        </div>
    </div>
</div>