<div class="customnavbar">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="customnavbar__listcategory">
                    <li class="customnavbar__listcategory__item">
                        <a class="customnavbar__listcategory__item__title" href="#">PHIM MỚI</a>
                    </li>
                    <li class="customnavbar__listcategory__item">
                        <a class="customnavbar__listcategory__item__title" href="#">THỂ LOẠI</a>
                        <div class="customnavbar__listcategory__item__subcontainer">
                            <ul class="customnavbar__listcategory__item__subcontainer__dropdown">
                                <li class="customnavbar__listcategory__item__subcontainer__dropdown__item"><a class="customnavbar__listcategory__item__subcontainer__dropdown__item__link" href="#">Phim Hành Động</a></li>
                                <li class="customnavbar__listcategory__item__subcontainer__dropdown__item"><a class="customnavbar__listcategory__item__subcontainer__dropdown__item__link" href="#">Phim Hài Hước</a></li>
                                <li class="customnavbar__listcategory__item__subcontainer__dropdown__item"><a class="customnavbar__listcategory__item__subcontainer__dropdown__item__link" href="#">Phim Cổ Trang</a></li>
                                <li class="customnavbar__listcategory__item__subcontainer__dropdown__item"><a class="customnavbar__listcategory__item__subcontainer__dropdown__item__link" href="#">Phim Chính Kịch</a></li>
                            </ul>
                            <ul class="customnavbar__listcategory__item__subcontainer__dropdown">
                                <li class="customnavbar__listcategory__item__subcontainer__dropdown__item"><a class="customnavbar__listcategory__item__subcontainer__dropdown__item__link" href="#">Phim Viễn Tưởng</a></li>
                                <li class="customnavbar__listcategory__item__subcontainer__dropdown__item"><a class="customnavbar__listcategory__item__subcontainer__dropdown__item__link" href="#">Phim Võ Thuật</a></li>
                                <li class="customnavbar__listcategory__item__subcontainer__dropdown__item"><a class="customnavbar__listcategory__item__subcontainer__dropdown__item__link" href="#">Phim Thần Thoại</a></li>
                                <li class="customnavbar__listcategory__item__subcontainer__dropdown__item"><a class="customnavbar__listcategory__item__subcontainer__dropdown__item__link" href="#">Phim Thể Thao</a></li>
                            </ul>
                            <ul class="customnavbar__listcategory__item__subcontainer__dropdown">
                                <li class="customnavbar__listcategory__item__subcontainer__dropdown__item"><a class="customnavbar__listcategory__item__subcontainer__dropdown__item__link" href="#">Phim Chiến Tranh</a></li>
                                <li class="customnavbar__listcategory__item__subcontainer__dropdown__item"><a class="customnavbar__listcategory__item__subcontainer__dropdown__item__link" href="#">Phim Kinh Dị</a></li>
                                <li class="customnavbar__listcategory__item__subcontainer__dropdown__item"><a class="customnavbar__listcategory__item__subcontainer__dropdown__item__link" href="#">Phim Tân Lý</a></li>
                                <li class="customnavbar__listcategory__item__subcontainer__dropdown__item"><a class="customnavbar__listcategory__item__subcontainer__dropdown__item__link" href="#">Phim Gia Đình</a></li>
                            </ul>
                            <ul class="customnavbar__listcategory__item__subcontainer__dropdown">
                                <li class="customnavbar__listcategory__item__subcontainer__dropdown__item"><a class="customnavbar__listcategory__item__subcontainer__dropdown__item__link" href="#">Phim Hình Sự</a></li>
                                <li class="customnavbar__listcategory__item__subcontainer__dropdown__item"><a class="customnavbar__listcategory__item__subcontainer__dropdown__item__link" href="#">Phim Hồi Hộp</a></li>
                                <li class="customnavbar__listcategory__item__subcontainer__dropdown__item"><a class="customnavbar__listcategory__item__subcontainer__dropdown__item__link" href="#">Phim Tài Liệu</a></li>
                                <li class="customnavbar__listcategory__item__subcontainer__dropdown__item"><a class="customnavbar__listcategory__item__subcontainer__dropdown__item__link" href="#">Phim Hoạt Hình</a></li>
                            </ul>
                            <ul class="customnavbar__listcategory__item__subcontainer__dropdown">
                                <li class="customnavbar__listcategory__item__subcontainer__dropdown__item"><a class="customnavbar__listcategory__item__subcontainer__dropdown__item__link" href="#">Phim Phiêu Lưu</a></li>
                                <li class="customnavbar__listcategory__item__subcontainer__dropdown__item"><a class="customnavbar__listcategory__item__subcontainer__dropdown__item__link" href="#">Phim Bí Ẩn</a></li>
                                <li class="customnavbar__listcategory__item__subcontainer__dropdown__item"><a class="customnavbar__listcategory__item__subcontainer__dropdown__item__link" href="#">Phim Tình Cảm</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="customnavbar__listcategory__item">
                        <a class="customnavbar__listcategory__item__title" href="#">QUỐC GIA</a>
                    </li>
                    <li class="customnavbar__listcategory__item">
                        <a class="customnavbar__listcategory__item__title" href="#">PHIM LẺ</a>
                    </li>
                    <li class="customnavbar__listcategory__item">
                        <a class="customnavbar__listcategory__item__title" href="#">PHIM BỘ</a>
                    </li>
                    <li class="customnavbar__listcategory__item">
                        <a class="customnavbar__listcategory__item__title" href="#">PHIM KINH ĐIỂN</a>
                    </li>
                    <li class="customnavbar__listcategory__item">
                        <a class="customnavbar__listcategory__item__title" href="#">PHIM CHIẾU RẠP</a>
                    </li>
                    <li class="customnavbar__listcategory__item">
                        <a class="customnavbar__listcategory__item__title" href="#">TRAILER</a>
                    </li>
                    <li class="customnavbar__listcategory__item">
                        <a class="customnavbar__listcategory__item__title" href="#">TOP 10 IMDB 2015</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>