<div class="change-password">
    <form class="template-form form-horizontal" role="form">
        <div class="form-group">
            <label class="template-form__label col-sm-3 control-label" for="">Mật khẩu hiện tại</label>
            <div class="col-sm-6">
                <input type="password" class="template-form__input-text form-control" placeholder="Nhập mật khẩu hiện tại">
            </div>
        </div>
        <div class="form-group">
            <label class="template-form__label col-sm-3 control-label" for="">Mật khẩu mới</label>
            <div class="col-sm-6">
                <input type="password" class="template-form__input-text form-control" placeholder="Nhập mật khẩu mới">
            </div>
        </div>
        <div class="form-group">
            <label class="template-form__label col-sm-3 control-label" for="">Xác nhận mật khẩu mới</label>
            <div class="col-sm-6">
                <input type="password" class="template-form__input-text form-control" placeholder="Nhập lại mật khẩu mới">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-10">
                <button class="template-form__input-submit btn" type="reset">Hủy</button>
                <button type="submit" class="template-form__input-submit btn">Đổi mật khẩu</button>
            </div>
        </div>
    </form>
</div>