<div class="changepassword" ng-if="globals.accountInfo.type === 'EMAIL'">
    <form class="template-form form-horizontal"
          role="form"
          name="changepasswordForm"
          ng-submit="changepasswordForm.$valid && updatePassword()"
          novalidate
    >
        <div class="form-group">
            <label class="template-form__label col-sm-3 control-label" for="">Mật khẩu mới</label>
            <div class="col-sm-6">
                <input type="password"
                       class="template-form__input-text form-control"
                       placeholder="Nhập mật khẩu mới"
                       name="password"
                       ng-model="user.password"
                       ng-minlength="6"
                       ng-maxlength="20"
                       ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$/"
                       required
                >
            </div>
            <div class="col-sm-offset-3 col-sm-10">
                <div class="help-block" ng-messages="changepasswordForm.password.$error">
                    <ng-messages-include src="app/app.message.html"></ng-messages-include>
                    <p ng-message="pattern">Mật khẩu phải bao gồm kí tự thường, kí tự hoa và số.</p>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="template-form__label col-sm-3 control-label" for="">Xác nhận mật khẩu mới</label>
            <div class="col-sm-6">
                <input type="password"
                       class="template-form__input-text form-control"
                       placeholder="Nhập lại mật khẩu mới"
                       name="repeatPassword"
                       ng-model="user.repeatPassword"
                       ng-minlength="6"
                       ng-maxlength="20"
                       ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$/"
                       required
                >
            </div>
            <div class="col-sm-offset-3 col-sm-10">
                <div class="help-block" ng-messages="changepasswordForm.repeatPassword.$error">
                    <ng-messages-include src="app/app.message.html"></ng-messages-include>
                    <p ng-message="pattern">Mật khẩu phải bao gồm kí tự thường, kí tự hoa và số.</p>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-10">
                <button type="submit" class="template-form__input-submit btn" ladda="isWaiting">Đổi mật khẩu</button>
                <button class="template-form__input-submit btn" type="reset">Hủy</button>
            </div>
        </div>
    </form>
</div>