<div class="register">
    <form class="register__form-register form-horizontal" role="form">
        <div class="form-group">
            <label class="register__form-register__label col-sm-3 control-label" for="">Mật khẩu hiện tại</label>
            <div class="col-sm-6">
                <input type="password" class="register__form-register__input-text form-control" placeholder="Nhập mật khẩu hiện tại">
            </div>
        </div>
        <div class="form-group">
            <label class="register__form-register__label col-sm-3 control-label" for="">Mật khẩu mới</label>
            <div class="col-sm-6">
                <input type="password" class="register__form-register__input-text form-control" placeholder="Nhập mật khẩu mới">
            </div>
        </div>
        <div class="form-group">
            <label class="register__form-register__label col-sm-3 control-label" for="">Xác nhận mật khẩu mới</label>
            <div class="col-sm-6">
                <input type="password" class="register__form-register__input-text form-control" placeholder="Nhập lại mật khẩu mới">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-10">
                <button class="register__form-register__button-login btn btn-danger" type="reset">Hủy</button>
                <button type="submit" class="register__form-register__button-login btn btn-primary">Đổi mật khẩu</button>
            </div>
        </div>
    </form>
</div>